h2#getting-started + p > img, 
h2#getting-started + p > a > img, 
h2#getting-started + p + p > img, 
h2#getting-started + p + p + p > img, 
h2#getting-started + p + p + p + p > img, 
h2#getting-started + p + p + p + p + hr
{
    display: none;
}

.md-typeset .admonition.caution,
.md-typeset details.caution {
  border-color: #ff9100;
}
.md-typeset .caution > .admonition-title,
.md-typeset .caution > summary {
  background-color: #ff91001a;
}
.md-typeset .caution > .admonition-title::before,
.md-typeset .caution > summary::before {
  background-color: #ff9100;
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}

.md-typeset .admonition.important,
.md-typeset details.important {
  border-color: #ff1744;
}
.md-typeset .important > .admonition-title,
.md-typeset .important > summary {
  background-color: #ff17441a;
}
.md-typeset .important > .admonition-title::before,
.md-typeset .important > summary::before {
  background-color: #ff1744;
  -webkit-mask-image: var(--md-admonition-icon--danger);
          mask-image: var(--md-admonition-icon--danger);
}

.md-sidebar.md-sidebar--secondary nav.md-nav.md-nav--secondary > ul > li + li > a {
	padding-left: 1rem;
}

.doc.doc-object.doc-class + .doc.doc-object.doc-function h4 {
	font-size: 0.85em;
}

.doc.doc-object.doc-function + .doc.doc-object.doc-function h4 {
	font-size: 0.85em;
}
