mkdocs>=1.4.2
mkdocstrings==0.18.1
mkdocs-material>=8.5.11
mkdocs-literate-nav>=0.5.0
mkdocs-section-index>=0.3.4
configupdater>=3.1.1
griffe>=0.24.1
ruamel.yaml>=0.17.21
openai>=0.25.0
playwright>=1.28.0
